/**basic settings**/

html, body {
	overflow-x: hidden;
	overflow-y: hidden;
	margin: 0;
	height:100%;
}

body {
	border: 24px solid #df4b38; 
	-moz-box-sizing: border-box; 
     -webkit-box-sizing: border-box; 
      box-sizing: border-box;

}
.surface{
	background-color: white;
}
.horizontal-center{
	clear:both;
	margin:auto;
	display:block;
}

.inline-block{
	clear:both;
	display: inline-block;
}


/**first page home**/

.welcome{
	width: 380px;
	height: 414px;
	background: url("../images/00_welcome.png") no-repeat;
	margin:  -190px 0px 0px -212px;
	position: absolute;
	left: 50%;
	top:50%;

}
/**first page home end**/

/**let the game begin **/

.game-begin{
	width: 378px;
	height: 172px;
	background: url("../images/01_begin_the_game.png") no-repeat;
	margin:  -86px 0px 0px -189px;
	position: absolute;
	left: 50%;
	top:50%;
}

.text{
	width: 600px;
	height: 172px;
	
	margin:  86px 0px 0px -300px;
	position: absolute;
	text-align: center;
	left: 50%;
	top:50%;
}


/**let the game begin end**/

/**slide show**/
.slideshowContainer{
	width:100%;
	height: 50%;
}

.half-page-text{
	width:70%;
	height: 50%;
	text-align: center;
	margin: auto;
}

/**slide show end**/

/**cuttlery quiz**/
.question{
	width: 100%;
	text-align: center;
	height:25%
	
}
.wrapper{
	width: 100%;
	height: 75%;
	display: inline-block;
}
.left-row{
	float: left;
	width: 50%;
	height: 100%;
}
.right-row{
	float: right;
	width: 50%;
	height: 100%;
}

#pic1, #pic2, #pic3{
	width: 300px;
	height: 200px;
	

}


.pic1_cont, .pic2_cont , .pic3_cont{
	width: 300px;
	height: 200px;
	border: 1px solid;
	border-color: black;
}

.draggable{
	background: maroon;
	margin: 20px 10px; 
}


/**cuttlery quiz end**/
/**Etiquette quiz**/
.picture-holder{
	margin-top: 40px;
	width:100%;
	height:60%;

}

.answer-holder{
	margin-top: 40px;
	width:90%;
}
.answer{
	
	width: 33%;
}

.answer-selector{
	font-size: 2.7em;
	color: #df4b38;
	text-align:center;
}
/**Etiquette quiz end**/



/** Eiquette.html **/

.content-header{
	width:100%;
	height:70px;
	background: black;
	color: white;
	font-family: cursive;
	
	
	
}
.chooser{
	width:100%;
	height:140px;
	overflow-x: scroll;
	overflow-y: hidden;
}
.content{
	min-width:800px;
	min-height:200px;
	width:100%;
	height: 100%;
	background: rgb(20,20,20);
}

.element{
	width:30px;
	height:140px;
	
	margin: auto;
	
}

/** cutlery and plate **/
.table{
	width: 800px;
	height:700px;
	background-image: url("../images/table_cloth.png");

	background-repeat: no-repeat;
	margin: auto;
}


.position-up{
	width: 100%;
	padding-top: 120px;
}


.cuttlery-horizontal{
	height:40px;
	margin-top: 2px;
	width:140px;
	margin: 0px auto;
	border: 1px solid;
	border-color: black;
	
}


.position-down{
	width: 100%;
	text-align: center;
}



.position-middle{
	margin: auto;
	height: 300px;
	display: inline-block;
}


.plate{
	width: 300px;
	height:300px;
	margin: auto;
	background-image: url("../images/plate.png");
	background-size: 300px 300px;
	background-repeat: no-repeat;

	float: left;
}
.cuttlery-vertical{
	width:30px;
	height:100%;
	display: inline-block;
	float:left;
	border: 1px solid;
	border-color: black;
	margin-left: 2px;
}

/** cutlery and plate end**/


/** Eiquette.html end**/
