/**basic settings**/

html, body {
	overflow-x: hidden;
	overflow-y: hidden;
	margin: 0;
	height:100%;
	background-color: rgb(244,243,241);
	-webkit-box-shadow: inset 0px -1px 112px 1px rgba(0,0,0,0.61);
-moz-box-shadow: inset 0px -1px 112px 1px rgba(0,0,0,0.61);
box-shadow: inset 0px -1px 112px 1px rgba(0,0,0,0.61);
}

body {
	border: 34px solid rgb(204,7,30); 
	-moz-box-sizing: border-box; 
     -webkit-box-sizing: border-box; 
      box-sizing: border-box;
}
.arrow{
	position:absolute;
	width: 80px;
	bottom:120px;
	right: 150px;
	padding:20px;
	z-index: 200;
}
.surface{
	
	 
}
.horizontal-center{
	clear:both;
	margin:auto;
	display:block;
}

.inline-block{
	clear:both;
	display: inline-block;
}
.hr{
	width: 100%;
	height: 5px;
	background-color: rgb(204,7,30); 
	border-radius: 5px;
}
.content-margin{
	margin: 50px;
}

.color-red{
	color:rgb(204,7,30);
}

.padding-five{
	padding: 5px 0px;
}
/**first page home**/

.welcome{
	width: 492px;
	height: 262px;
	background: url("../images/welcome.png") no-repeat;
	margin:  -131px 0px 0px -246px;
	position: absolute;
	left: 50%;
	top:50%;

}
/**first page home end**/

/**let the game begin **/

.game-begin{
	width: 896px;
	height: 410px;
	background: url("../images/begin.png") no-repeat;
	margin:  -205px 0px 0px -448px;
	position: absolute;
	left: 50%;
	top: 50%;
}

.text{
	width: 600px;
	height: 172px;
	
	margin:  86px 0px 0px -300px;
	position: absolute;
	text-align: center;
	left: 50%;
	top:50%;
}


/**let the game begin end**/

/**gundel**/
.slideshowContainer{
	width:100%;
	height: 100%;
}

.gundel-content{
	width:100%;
	position: absolute;
	top: 581px;
}

.gundel-element{
	margin: 0px 10px;
}

/**gundel**/

/**cuttlery quiz**/
.question{
	width: 100%;	
	padding:10px;
	height:25%;
	font-size: 25px;
	
}
.cuttlery-header{
	clear: both; 
	width: 1050px;
	font-size: 45px;
	margin-bottom: 15px; 	
}

.wrapper{
	width: 100%;
	height: 75%;
	display: inline-block;
}
.left-row{
	float: left;
	width: 50%;
	height: 100%;
	margin: 50px;
}
.right-row{
	float: right;
	width: 50%;
	height: 100%;
	
}
.center-glyph-x{
	display: inline-block;
	margin-top: 200px;
	font-size: 50px;

}

.pic{
	margin: 80px 80px; 
}

#pic1, #pic2, #pic3, #pic4, #pic5, #pic6{
    -webkit-filter: drop-shadow(-12px 12px 25px rgba(0,0,0,0.5));
    filter: url(#drop-shadow);
	display: inline-block;
}



.cutt-name{
	position: absolute;
	top:50%;
	left:50%;
	font-size: 35px;
}
.pic_cont{
	text-align: right;
	position: absolute;
	width: 100px;
	height: 400px;

	top:50%;
	left:50%;
}

.pic1_cont {
	margin: -200px 0px 0px 550px;
}
.pic1_name {
	margin: 0px 0px 0px 650px;
}


.pic2_cont {
	margin: -100px 0px 0px 250px;
	
}
.pic2_name {	
	margin: 100px 0px 0px 350px;
	
}
.pic3_cont{
	margin: 0px 0px 0px -50px;
}
/** how to calculate: top-margin of red-x and left-margin=pic_cont height + postion of the container **/
.pic3_name{
	margin: 200px 0px 0px 50px;
}


.pic4_cont {
	margin: 0px 0px 0px 500px;
}
.pic4_name {
	margin: 200px 0px 0px 600px;
}


.pic5_cont {
	margin: -400px 0px 0px 300px;
	
}

.pic5_name {
	margin: -200px 0px 0px 400px;
	

}

.pic6_cont{
}
/** how to calculate: top-margin of red-x and left-margin=pic_cont height + postion of the container **/
.pic6_name{
	margin: 200px 0px 0px 100px;
}






/**cuttlery quiz end**/
/**Etiquette quiz**/
.picture-holder{
	margin-top: 40px;
	margin-down: 80px; 	
	width:80%;

}

.answer-holder{
	
	position: absolute;
	top:620px;
	left:1300px;
}

.answer-holder-left-more-space{
	
	position: absolute;
	top:620px;
	left:1350px;
}


.answer-selector-sign{
	font-size: 3.3em;
	text-align:center;
	display: inline-block;
}

.answer-selector{
	margin: 0px 0px 35px 5px;
	
}
/**Etiquette quiz end**/






/** Eiquette.html **/
.header4{
	margin: 15px 0px 15px 5%;
}

.long-header4{
	margin: 0px 0px 0px 5%;
	width: 530px;
}

.long-reduced{
	width: 90%;	
}
.chooser{
	width:100%;
	height:140px;
	padding: 20px 0px 0px 0px;
	text-align:center;
}
.content{
	min-width:800px;
	min-height:200px;
	width:100%;
	height: 100%;
}

.element{
	width:30px;
	height:140px;
	background-color:#00ff00;
	margin: auto;

}

.element-vertical{
	width:30px;
	height:140px;
	background-color:#00ff00;
	margin: auto;
		-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
/* 	position: fixed; */
/* 	z-index: 200; */

}

/** cutlery and plate **/
.table{
	width: 800px;
	height:700px;
	margin: auto;
}


.position-up{
	width: 100%;
	padding-top: 120px;
}


.cuttlery-horizontal{
	height:40px;
	margin-top: 2px;	 
	width:140px;
	margin: 0px auto;
	border: 1px solid;
	border-color: black;
	
}


.position-down{
	width: 100%;
	text-align: center;
}



.position-middle{
	margin: auto;
	height: 300px;
	display: inline-block;
}


.plate{
	width: 300px;
	height:300px;
	margin: auto;
	background-image: url("../images/plate.png");
	background-size: 300px 300px;
	background-repeat: no-repeat;

	float: left;
}
.cuttlery-vertical{
	width:30px;
	height:100%;
	display: inline-block;
	float:left;
	border: 1px solid;
	border-color: black;
	margin-left: 2px;
	padding-top: 50px;
}

/** cutlery and plate end**/


/** Eiquette.html end**/
/** restaurant chooser **/
.gundel-chooser{
	position:absolute;
	top:37%;
	left: 20%;
	
}

.sipos-chooser{
	
	position:absolute;
	top:40%;
	left: 57%;
}
/** restaurant chooser end**/
/** famechooser**/
.row-12{
	clear:both;
	text-align:center;
	width:33%;
	display: inline-block;
	
}
.pic-12{
	margin: 60px 0px;
}


/**famechooser end**/
/**animatgions**/
.view-container {
  position: relative;
  width:100%;
  height:100%;
}
.view-frame {
  width:100%;
  height:100%;
}
.view-frame.ng-enter, .view-frame.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.view-frame.ng-enter {

opacity: 0;
}

.view-frame.ng-active {

opacity: 1;
}



.view-frame.ng-leave {
	 -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
	
    opacity: 1;
}
.view-frame.ng-leave-active {
    opacity: 0;
}


/**animations end**/