<div class=content-margin>
	<div class="question">
		<img alt="" src="images/question_ett.png">
	</div>
	

	<img alt="" src="images/5_2/plate_2.png" class="horizontal-center" >
	<div class="answer-holder ">
		<div ng-controller="BadAnswerAlertModalCtrl"  ng-click="form.validForm = !form.validForm">
			<div class="color-red answer-selector-sign glyphicon glyphicon-remove" >
			</div>
				<img class="answer-selector"  alt="" src="images/5_2/answ1.png">
		</div>
		<div ng-controller="BadAnswerAlertModalCtrl"  ng-click="open('small')">
			<div class="color-red answer-selector-sign glyphicon glyphicon-remove"></div>
				<img class="answer-selector" alt="" src="images/5_2/answ2.png">
		</div>
		<div ng-controller="BadAnswerAlertModalCtrl" ng-click="open('small')">
			<div class="color-red answer-selector-sign glyphicon glyphicon-remove" ></div>
				<img class="answer-selector" alt="" src="images/5_2/answ3.png">
		</div>

	</div>
</div>
	<div class="arrow" ng-click="nextPage('etiquettequiz3')" ng-hide="!form.validForm">
		<img alt="" ng-src="images/arrow.png">
</div>	