<div class=content-margin>
	<div class="question">
		<div class="cuttlery-header">
			<div class="hr"></div>
				<b class="padding-five">MIT JELEZTEM A TÁNYÉRON?</b>
			<div class="hr"></div>
				
		</div>	
		Egy kis illemtan.<br/>
		<i class="color-red">Mit jeleztem a tányéron?</i>
	</div>
	<div class="picture-holder">
	<img alt="" src="images/5_2/plate_2.png" class="horizontal-center" ></div>
	<div class="answer-holder ">
		<div class="answer" ng-controller="BadAnswerAlertModalCtrl">
			<div class="color-red answer-selector-sign glyphicon glyphicon-remove" ng-click="goodAnswer()"></div><div class="answer-selector">SZÜNETET TARTANÉK!</div>
		</div>
		<div class="answer">
			<div class="color-red answer-selector-sign glyphicon glyphicon-remove" ng-click="open('small')"></div><div class="answer-selector">KÉREM A DESZERETET!</div>
		</div>
		<div class="answer" ng-controller="BadAnswerAlertModalCtrl">
			<div class="color-red answer-selector-sign glyphicon glyphicon-remove" ng-click="open('small')"></div><div class="answer-selector">HOZZANAK EGY SZALVÉTÁT!</div>
		</div>
	</div>
</div>