<div class="question"></div>
<div class="picture-holder">
<img alt="" src="http://farm9.staticflickr.com/8378/8559402848_9fcd90d20b_b.jpg" class="horizontal-center" width=30% height=30%></div>
<div class="answer-holder horizontal-center ">
	<div class="inline-block answer" ng-controller="BadAnswerAlertModalCtrl">
		<span class="horizontal-center answer-selector glyphicon glyphicon-remove" ng-click="open('medium')"><br/>medve</span>
	</div>
	<div class="inline-block answer">
		<span class="horizontal-center answer-selector glyphicon glyphicon-remove" ng-click="goodAnswer()"><br/>medvek</span>
	</div>
	<div class="inline-block answer" ng-controller="BadAnswerAlertModalCtrl">
		<span class="horizontal-center answer-selector glyphicon glyphicon-remove" ng-click="open('medium')"><br/>kutya</span>
	</div>
</div>