
	
	
	
	

	
	
	<div class="chooser" >
		<div class="element" id="cuttleryA"  ng-model="cuttleryA" data-drag="true" ng-hide="!cuttleryA.src" data-jqyoui-options="{revert: 'invalid'}"  jqyoui-draggable="{animate:true}"></div>
		
		<!-- 					old style -->
<!-- 		<div class="element" draggable="true" ondragstart="drag(event)" id="element1"> -->
</div>
	<div class="hr"></div>
	
	
		<div class="table">
			<div class="position-up">
				<div class="cuttlery-horizontal"></div>
				<div class="cuttlery-horizontal"></div>
			</div >
			<div class="position-down">			
				<div class="position-middle">
<!-- 					<div class="cuttlery-vertical" ondrop="drop(event)" ondragover="allowDrop(event)"></div> -->
<!-- 					new changes -->
					<div class="cuttlery-vertical" data-drop="true" data-jqyoui-options="{accept:'#cuttleryA'}" ng-model="placedCuttleryA" jqyoui-droppable>
						<div class="element"  id="cuttleryA" data-drag="false" data-jqyoui-options ng-model="placedCuttleryA" jqyoui-draggable ng-hide="!placedCuttleryA.src" ></div>
					</div>
					
<!-- 					old style -->
					<div class="cuttlery-vertical" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="plate"></div>
					<div class="cuttlery-vertical" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="cuttlery-vertical" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
				</div>				
			</div>
		
		</div>
		
	
