
	
	
	
	

	
	
	<div class="chooser" >
		<img  ng-model="cuttleryA" data-drag="true"  ng-hide="!cuttleryA.src_small" data-jqyoui-options="{revert: 'invalid'}"  jqyoui-draggable="{animate:true}" ng-src={{cuttleryA.src_small}}>
		<img  ng-model="cuttleryB" data-drag="true" ng-hide="!cuttleryB.src_small" data-jqyoui-options="{revert: 'invalid'}"  jqyoui-draggable="{animate:true}" ng-src={{cuttleryB.src_small}}>
		<img  ng-model="cuttleryC" data-drag="true" ng-hide="!cuttleryC.src_small" data-jqyoui-options="{revert: 'invalid'}"  jqyoui-draggable="{animate:true}" ng-src={{cuttleryC.src_small}}>
		<img  ng-model="cuttleryD" data-drag="true" ng-hide="!cuttleryD.src_small" data-jqyoui-options="{revert: 'invalid'}"  jqyoui-draggable="{animate:true}" ng-src={{cuttleryD.src_small}}>
		<img  ng-model="cuttleryE" data-drag="true" ng-hide="!cuttleryE.src_small" data-jqyoui-options="{revert: 'invalid'}"  jqyoui-draggable="{animate:true}" ng-src={{cuttleryE.src_small}}>
		<img  ng-model="cuttleryF" data-drag="true" ng-hide="!cuttleryF.src_small" data-jqyoui-options="{revert: 'invalid'}"  jqyoui-draggable="{animate:true}" ng-src={{cuttleryF.src_small}}>
		<img  ng-model="cuttleryG" data-drag="true" ng-hide="!cuttleryG.src_small" data-jqyoui-options="{revert: 'invalid'}"  jqyoui-draggable="{animate:true}" ng-src={{cuttleryG.src_small}}>
		
</div>
	<div class="hr long-reduced horizontal-center"></div>
	
	<img class="header4" src="images/4/exercise.png">
	<div class="hr long-header4"></div>
		
		<div class="table">
			<div class="position-up">
				<div class="cuttlery-horizontal"></div>
				<div class="cuttlery-horizontal"></div>
			</div >
			<div class="position-down">			
				<div class="position-middle">
<!-- 					<div class="cuttlery-vertical" ondrop="drop(event)" ondragover="allowDrop(event)"></div> -->
<!-- 					new changes -->
					<div class="cuttlery-vertical" data-drop="true" data-jqyoui-options="{accept:'#cuttleryA'}" ng-model="placedCuttleryA" jqyoui-droppable>
						<div class="element"  id="cuttleryA" data-drag="false" data-jqyoui-options ng-model="placedCuttleryA" jqyoui-draggable ng-hide="!placedCuttleryA.src" ></div>
					</div>
					
<!-- 					old style -->
					<div class="cuttlery-vertical" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="plate"></div>
					<div class="cuttlery-vertical" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
					<div class="cuttlery-vertical" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
				</div>				
			</div>
		
		</div>
		
		
		<div class="arrow" ng-click="nextPage('restaurantchooser');">
		<img alt="" ng-src="images/arrow.png">
</div>	
		
	
