<div class=content-margin>
	<div class="question">
		<img alt="" src="images/question_ett.png">
	</div>

	<img alt="" src="images/5_5/plate_5.png" class="horizontal-center" >
	
	<div class="answer-holder">
		<div ng-controller="BadAnswerAlertModalCtrl" ng-click="goodAnswer()">
			<div class="color-red answer-selector-sign glyphicon glyphicon-remove" >
			</div>
				<img class="answer-selector"  alt="" src="images/5_5/answ1.png">
		</div>
		<div ng-controller="BadAnswerAlertModalCtrl"  ng-click="open('small')">
			<div class="color-red answer-selector-sign glyphicon glyphicon-remove"></div>
				<img class="answer-selector" alt="" src="images/5_5/answ2.png">
		</div>
		<div ng-controller="BadAnswerAlertModalCtrl" ng-click="open('small')">
			<div class="color-red answer-selector-sign glyphicon glyphicon-remove" ></div>
				<img class="answer-selector" alt="" src="images/5_5/answ3.png">
		</div>

	</div>
</div></div>


	<div class="arrow" ng-click="nextPage('etiquette');">
		<img alt="" ng-src="images/arrow.png">
</div>	