<div class=content-margin>
	<div class="question">
		<img alt="" ng-src="images/12/question.png">
	</div>
<div style="width:100%; height:80%;">

	<div class="row-12">
		<img class="pic-12" ng-src="images/12/szent_img.png">
		<img ng-src="images/12/szent_text.png">		
	</div>
	
	<div class="row-12">
		<img class="pic-12" ng-src="images/12/rr_img.png">
		<img ng-src="images/12/rr_text.png">		
	</div>
	
	<div class="row-12">
		<img class="pic-12" ng-src="images/12/zalan_img.png">
		<img ng-src="images/12/zalan_text.png">		
	</div>

	
	</div>
	
</div>