<div class=content-margin>
	<div class="question">
		<img alt="" src="images/10/question.png">
	</div>


		<div id="first-fame">

			<img  src="images/10/szent_img.png"> 
			<img src="images/10/szent_text.png">

		</div>

		<div id="second-fame">

			<div ng-click="nextPage('caution')"><img  src="images/10/rr_img.png"> <img
				src="images/10/rr_text.png"></div> 
		</div>

		<div id="third-fame">

			<img src="images/10/zalan_img.png"> <img
				src="images/10/zalan_text.png">

		</div>


</div>

			