 <div class="slideshowContainer">
	    <carousel interval="myInterval">
	      <slide ng-repeat="slide in slides" active="slide.active">
	        <img ng-src="{{slide.image}}" style="margin:auto;">
	      
	      </slide>
	    </carousel>
</div>
<div class="hr long-reduced horizontal-center"></div>
<div class="gundel-content">

	<img class="gundel-element" ng-src="images/7_1/sipos.png" class="inline-block">
	<img class="gundel-element" ng-src="images/7_1/text.png" class="inline-block">
</div>



	<div class="arrow" ng-click="nextPage('home');">
		<img alt="" ng-src="images/arrow.png">
</div>	